body {
    background-image: linear-gradient(to right bottom, #e4a7db, #d245db, #a22dce, #7d3ac5, #4d56bd);
    background-repeat: no-repeat;
    height: 100vh;
    color: #555555;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #d245db;
    margin: 0 20px;
    width: 280px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px -10px  #7d3ac5;

}

.card .percent {
    position: relative;
}

.card svg {
    position: relative;
    width: 210px;
    height: 210px;
    transform: rotate(-90deg);
}

.card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #4d56bd;
    stroke-width: 10;
    stroke-linecap: round;

}

.card svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
   stroke: #e92fcd;
}

.card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

.card .number h3 span {
    font-size: 2rem;
}

.card .title h2 {
    margin: 25px 0 0;
    text-align: center;
}